<h3 class="ui header">{{t "forms.i-i-s-v-u-a-расчетный-лист-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.кодДок
      class=(if (v-get validationModel "кодДок" "isInvalid") "error")
      label=(t "forms.i-i-s-v-u-a-расчетный-лист-e.кодДок-caption")
      data-test-i-i-s-v-u-a-расчетный-лист-e-кодДок=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "кодДок" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-v-u-a-расчетный-лист-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-v-u-a-расчетный-лист-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудникиКу.должности.наименование
      class=(if (v-get validationModel.сотрудникиКу.должности "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-v-u-a-расчетный-лист-e.сотрудникиКу.должности.наименование-caption")
      data-test-i-i-s-v-u-a-расчетный-лист-e-сотрудникиКу-должности-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудникиКу.должности "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-v-u-a-расчетный-лист-e.составРасчета-caption"}}</label>
    {{flexberry-groupedit
      componentName="составРасчетаGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.составРасчета
      content=model.составРасчета
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "составРасчета" "isInvalid") "error")
      data-test-i-i-s-v-u-a-расчетный-лист-e-составРасчета=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "составРасчета" "message")}}
  </div>
</form>
